// .card {
//     margin: 0 auto; /* Added */
//     float: none; /* Added */
//     margin-bottom: 10px; /* Added */
// }
// .card {
//     margin: 0 auto; /* Added */
//     float: none; /* Added */
//     margin-bottom: 10px; /* Added */
// }

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 300px;
    margin: 15px;
}

.card__content {
    padding: 15px;
}

.PicOne{
    width: 100%;
    height: auto;
    
}

#Heading{
    color: rgb(0,0,0);
    font-size: 3rem;
}
.ParagraphText{
    color:rgb(159, 159, 159);
    font-size: 1.5rem;
}

.EnergySavingTipsPicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px;
}
@media (max-width: 600px) {
    .card {
        //width: 100%;
        width: 60%;
        margin: 10px 0;
    }

    .EnergySavingTipsPicture{
        width: 90%;
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .card {
        width: 48%;
        margin: 1%;
    }
    .EnergySavingTipsPicture{
        width: 90%;
    }
}