body{
    background-color: rgba(255, 255, 255, 1)
}

.top-buffer{
    margin-top: 30px;
    margin-bottom: 140px;
}
#Heading{
    color: rgb(0,0,0);
    font-size: 3rem;
    
}
.ParagraphText{
color:rgb(159, 159, 159);
font-size: 1.5rem;
}

.FAQPicture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 60px;
}
.accordion-button {
    
    color:black;
    font-size: 1.5rem;
  }