
  @font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('ttf'),
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 100%
  }

  .content {
    margin-left: 10px; /* Same as sidebar width */
    padding: 1px 16px;
    height: 800px; /* Sample content height */
  }
  header h1 {
    font-size: 40px; /* Standard font size for content */
    font-weight: 750; /* Normal font weight */
    color: #000000; /* Standard black color */
    font-family: 'Inter', sans-serif;
  }

  .container {
    margin-top: 3vh;
    margin-left: 3wh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Keeps containers aligned to the start */
    margin-left: 100px; /* Adjust this value to create space from the sidebar */
    padding-top: 100px; /* Adjust this value to create space below the header */
  }
  .image {
    max-width: 100%; /* This ensures the image is responsive and does not overflow its container */
    height: auto; /* This keeps the image aspect ratio intact */
    /* Additional styling for the images */
  }

.item-container {
  margin-left: 3wh;
  display: flex;
  align-items: center; /* Vertically aligns items in the center */
  margin-bottom: 20px; /* Space between each item-container */
}

.item {
  font-size: 30px;
  font-weight: 700;
  color: #0057FF;
  width: 200px; /* Fixed width for all items */
  margin-right: 20px; /* Space between item and rectangle */
}

.rectangle {
  width: 300px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 180px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


  .rectangle span {
    color: #000000;
    font-size: 16px;
  }
  #homeType {
    position: absolute;
    top: 100px;
    left: 150px;
  }
  #homeYear {
    position: absolute;
    top: 200px;
    left: 150px;
  }
  #consumption {
    position: absolute;
    top: 300px;
    left: 150px;
  }

  #rectangle1 {
    /* Specific adjustments for rectangle 1 */
  }
  #rectangle2 {
    /* Specific adjustments for rectangle 1 */
  }
  #rectangle3 {
    /* Specific adjustments for rectangle 1 */
  }
  .card-stack {
    position: absolute;
    margin-top: 0px;
    margin-left: 900px;
    width: 500px; /* Adjust as needed */
    height: 650px; /* Adjust as needed */
    cursor: pointer;
  }

  .card {
    position: absolute;
    width: 500px;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  h2 {
    color: #000000;
    font-size: 1.5rem; /* Adjust size as needed */
    margin-bottom: 25px;
    /* Additional styling as needed */
  }
  
  .data-point {
    /* Stack the label and the bar + value vertically */
    display: flex;
    flex-direction: column;
    margin-bottom: 45px; /* Space between data points */
  }
  
  .data-label {
    /* Style for the label */
    margin-bottom: 8px; /* Space between the label and the bar */
  }
  
  .data-bar-container {
    /* Container for the bar and value */
    position: relative; /* Needed for absolute positioning of the value */
  }
  
  .data-bar {
    /* Visual representation of the value (the bar) */
    background-color: blue; /* Example color, adjust as needed */
    height: 40px; /* Height of the bar */
    border-radius: 180px; /* Rounded corners for the bar */
    align-items: left; /* Center the value vertically */
    justify-content: left; /* Center the value horizontally */

  }
  
  .data-value {
    position: absolute; /* Position the value inside the bar */
    top: 50%; /* Center vertically */
    left: 35px; /* Start at the horizontal center of the bar */
    transform: translate(-50%, -50%); /* Offset both horizontally and vertically */
    color: white; /* Example text color for contrast */
    /* ...other styles for the value... */
  }

  .image-buttons button {
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    margin-left: 50px;
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border: none;
    cursor: pointer;
}

/* Additional styling for buttons as needed */

  


  #card1 { z-index: 3; }
  #card2 { z-index: 2; transform: translateY(10px); }
  #card3 { z-index: 1; transform: translateY(20px); }

