body {
    background: #222222;
}

h1 {
    color: white;

    line-height: 200px;
    margin-top: -100px;
    
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;

    width: 100%;
}