
body {
    background: #fffefe;
}


h1 {
    color: rgb(7, 0, 0);

    line-height: 100px;
    margin-top: 0;
    margin-left: 150px;
    
    position: absolute;
    text-align: left;
    top: 0;
    left: 50px;
    font-size: 40px;

    width: 100%;
}
